# Backend (ASP.NET)
backend/bin/
backend/obj/
backend/*.user
backend/*.suo

#ignore db files
backend/askiidb.sqlite
backend/askiidb.sqlite-shm
backend/askiidb.sqlite-wal

# Frontend (React/Vite)
frontend/node_modules/
frontend/dist/
frontend/.vs/

# VSCode
.vscode/
.vs/

# OS files
.DS_Store
Thumbs.db

#SSH
SSHKey
SSHKey.pub

