# Backend (ASP.NET)
backend/bin/
backend/obj/
backend/*.user
backend/*.suo
backend/Migrations/

# Frontend (React/Vite)
frontend/node_modules/
frontend/dist/
frontend/.vs/

# VSCode
.vscode/
.vs/

# OS files
.DS_Store
Thumbs.db

#SSH
SSHKey
SSHKey.pub