# Backend (ASP.NET)
backend/bin/
backend/obj/
backend/*.user
backend/*.suo

# Frontend (React/Vite)
frontend/node_modules/
frontend/dist/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

#SSH
SSHKey
SSHKey.pub