.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1vh;
    margin-left: 1vh;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #FF7F50;
    border-radius: 4px;
    border-bottom: 1px solid black;
    width: 100%;
}

.cardInfo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.voteBtn {
    all: unset; 
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    margin: .5vh
}

.voteBtn:focus {
    outline: none; /* ensure no outline on click/focus */
    box-shadow: none; /* remove focus shadow if any */
}

.container:hover{
    background-color: #f3f4f6;
}