.navbar {
  display: flex;
  justify-content: center;
  gap: .3rem;
  margin-bottom: 1vh;
  margin-left: 1vh;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.tabButton {
  padding: 0.5rem .5rem;
  font-size: 1rem;
  background-color: white;
  color: #FF7F50;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.tabButton:hover {
  background-color: #FF7F50;
  color: white;
}

.active {
  background-color: #FF7F50;
  color: white;
  font-weight: bold;
}
